
<script>
import {startTurn} from '../store'
</script>
<main>
<h1>Fake checker</h1>
<p>Сможете отличить фейковые новости от настоящих?</p>
<button on:click={startTurn}>Начать</button>
</main>

<style>
    h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 10vmin;
		font-weight: 100;
        text-align: center;
	}
    p{
        color: #36474F;
        text-align: center;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        height:100%;
        padding: 10vmin;
        
    }
    button{
        color: #ff3e00;
        border: 0.5vmin solid #ff3e00;
		text-transform: uppercase;
		font-size: 4vmin;
        background: none;
        padding: 4vmin;
        cursor: pointer;
    }

</style>