
<script>
    import {timer, startTurn} from '../store'
    </script>
    <main>
    <h1>{$timer > 0 ? 'Победа!':'Поражение'}</h1>
    <p>{$timer > 0 ? 'Вы нашли все фейковые новости!':'Вы не смогли отличить фейки от настоящих новостей'}</p>
    <button on:click={startTurn}>Играть снова</button>
    </main>
    
    <style>
        h1 {
            color: #ff3e00;
            text-transform: uppercase;
            font-size: 10vmin;
            font-weight: 100;
            text-align: center;
        }
        p{
            color: #36474F;
            text-align: center;
        }
        main{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            height:100%;
            padding: 10vmin;
            
        }
        button{
            color: #ff3e00;
            border: 0.5vmin solid #ff3e00;
            text-transform: uppercase;
            font-size: 4vmin;
            background: none;
            padding: 4vmin;
            cursor: pointer;
        }
    
    </style>