<script>
  import { onMount } from 'svelte'
  import { activeNews, timer, rightAnswer } from '../store'
  import Rbc from './news/Rbc.svelte'
  import Vedomosti from './news/Vedomosti.svelte'
  import { toast } from '@zerodevx/svelte-toast'
  import Timer from './components/Timer.svelte'
  const newsBlock = {
    rbc: Rbc,
    vedomosti: Vedomosti,
  }
  let containerRef
  let newsRef
  let highlight=false;
  const preventDefault = (e) => {
    if(newsRef && !newsRef.contains(event.target)){
      highlight = true;
      setTimeout(()=>highlight=false, 200)
    }
   
    
    e.preventDefault()
  }
  onMount(() => {
    document.addEventListener('click', preventDefault, true)
    return () => {
      document.removeEventListener('click', preventDefault)
    }
  })
  let templates = {}
  let isLoading = true

  const getTemplates = async () => {
    isLoading = true
    const sites = ['rbc', 'vedomosti']
    const result = await Promise.all(
      sites.map((type) => {
        return fetch(`./sites/${type}.html`)
          .then((res) => res.text())
          .then((html) => ({ html, type }))
      }),
    )
    result.forEach((item) => {
      templates[item.type] = item.html
    })
    isLoading = false
    timer.start();
  }
  getTemplates(templates)

  $: if ($activeNews && containerRef) {
    setTimeout(() => {
      containerRef.querySelector('.factCheckerNews').appendChild(newsRef)
    }, 0)
  }

  const onFake = () => {
    timer.wrongAnswer();
    toast.push('Wrong!', {
        duration: 1000,
      theme: {
        '--toastBackground': 'rgba(245, 102, 102, 0.8)',
        '--toastColor': 'white',
        '--toastProgressBackground': 'white',
      },
    })
  }
  const onNotFake = () => {
    toast.push('Right!', {
        duration: 1000,
      theme: {
        '--toastBackground': 'rgb(76, 175, 80, 0.8)',
        '--toastColor': 'white',
        '--toastProgressBackground': 'white',
      },
    })
    rightAnswer();
  }
</script>

{#if isLoading}
  Loading...
{:else}
  <div bind:this={containerRef}>{@html templates[$activeNews.site]}</div>
  <div bind:this={newsRef} class:highlight>
    <svelte:component
      this={newsBlock[$activeNews.site]}
      news={$activeNews.news}
      on:fake={onFake}
      on:notFake={onNotFake}
      
    />
  </div>
  <Timer/>
{/if}
<style>
  .highlight{
    background-color: rgba(255, 62, 0, 0.2);
    transition: background-color 0.2s;
  }
</style>
