<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()
  export let news = []
</script>

{#each news as item (item.title)}
  <div class="news" on:click={() => dispatch(item.fake ? 'fake' : 'notFake')}>{item.title}</div>
{/each}

<style>
  .news {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 39px;
    font-size: 16px;
    position: relative;
    margin-bottom: 11px;
    cursor: pointer;
  }
  .news:before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 24px;
    width: 3px;
    height: 3px;
    background: #222;
  }
  .news:hover{
      color: #222;
  }
</style>
