<script>
    import {timer, turnTime} from '../../store'

    $: minutes = `${ Math.floor($timer / 60000)}`;
    $: second = `${(($timer % 60000) / 1000).toFixed(0)}`
</script>

<div class="timer">
    <div class="time">{minutes.padStart(2, '0')}:{second.padStart(2, '0')}</div>
    <div class='progress'>
        <div class="bar" style={`width:${$timer/turnTime*100}%`}></div>
    </div>
</div>
<style>
    .timer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ff3e00;
    line-height: 1;
    z-index: 999;
  }
  .time{
    line-height: 1;
    font-size: 20vmin;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  .progress{
      height: 4vmin;
      width:100%;
      background-color: silver;
  }
  .bar{
      background-color: #ff3e00;
      height: 4vmin;
  }
</style>